<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chweb.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chweb.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chweb.UI.Properties.Settings>
            <setting name="FirstBrowser" serializeAs="String">
                <value />
            </setting>
        </Chweb.UI.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <services>
            <service name="Chweb.Service.IpcService">
                <endpoint address="net.pipe://localhost/chweb" binding="netNamedPipeBinding"
                    bindingConfiguration="" contract="Chweb.Service.IIpcService" />
            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <Chweb.UI.Properties.Settings>
            <setting name="IpcUri" serializeAs="String">
                <value>net.pipe://localhost/chweb</value>
            </setting>
        </Chweb.UI.Properties.Settings>
    </applicationSettings>
</configuration>